.pict_container {
    width: 300px;
    height: 445px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
}

.pict {
    width: 300px;
    height: 445px;
    object-fit: cover;
    box-shadow: 0 1px 4px 0 #000;
    margin-bottom: 3px;
}

.no_pict_msg {
    font-size: 20px;
    font-weight: 600;
    color: darkgrey;
}

.title {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 300px;
    font-weight: 500;
    color: black;
    font-size: large;
}
