.query_list {
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    width: 190px;
    box-shadow: 0 1px 4px 0 #000;
    background-color: white;
    left: 72px;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s ease;
}

.query_listItem {
    list-style: none;
}

.query_listItem:hover {
    color: rgb(21, 164, 250);
}
